.bottom-line{
  background-color: black;
  color: white;
}
.example{
  background-color: #FECC00;
  color: black;
  padding-top: 60px;
  padding-bottom: 60px;
}
.img-ex {
  border-radius: 10px;
  filter: drop-shadow(5px 5px 5px #615b5b);
  
}

