<app-navbar></app-navbar>
<div class = "cover-picture">
<img class="img-fluid" src="assets/img/cover.PNG">
</div>
<div class = "bottom-line pt-4 pb-4">
        <h1 class = "text-center">Bottom Line</h1> 
        <p class = "text-center">We deliver the news that is relevant to you.</p>
</div>
<div class="example">
        <h1 class = "text-center">Our Expertise</h1>
        <p class = "text-center">This is a subtitle, to make it look good</p>
        <div class = "container ">
                <div class="row pt-5 ">
                        <div class="text-center col-sm pb-5">
                                <img class = "rounded-corners shadow-lg" src="assets/img/Televistion.png" >
                        </div>
                        <div class="text-center col-sm pb-5">
                                <img class = "img-ex" src="assets/img/Print.png" >
                        </div>
                        <div class="text-center col-sm pb-5">
                                <img class = "img-ex" src="assets/img/Online.png" >
                        </div>
                        <div class="text-center col-sm pb-5">
                                <img class = "img-ex" src="assets/img/radio.png" >
                        </div>
                        <div class=" text-center col-sm pb-5">
                                <img class = "img-ex" src="assets/img/magazine.png" >
                        </div>
                        <div class="text-center col-sm pb-5">
                                <img class = "img-ex" src="assets/img/Photo.png" >
                        </div>
                        <div class="text-center col-sm pb-5" >
                                <img class = "img-ex" src="assets/img/Podcasts.png" >
                        </div>
                        <div class="text-center col-sm pb-5">
                                <img class = "img-ex" src="assets/img/onlinep.png" >
                        </div>
                        <div class="text-center col-sm pb-5">
                                <img class = "img-ex" src="assets/img/RSS.png" >
                        </div>                 
                </div>
                                
        </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>